@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    padding: 40px 20vw;
}