@tailwind base;
@tailwind components;
@tailwind utilities;

.pokecard {
  background-color: #FEBA36;
  width: 322px;
  height: 422px;
  padding: 12px;
  border: 10px solid #FFE353;
  border-radius: 16px;
  color: black;
}
.pokecard .photo-section {
  border: 5px solid #FFE353;
  background-color: #C2EDFF;
  height: 200px;
  padding: 0px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    padding: 40px 20vw;
}